<launch>
  <!-- Compatibility alias. There must be only one mapping implementation;
       old instructions that call scout_system.launch now enter V5.1 too. -->
  <arg name="map_name" default="current_mapping" />
  <arg name="enable_online_terrain_diagnostics" default="false" />

  <include file="$(find scout_system_bringup)/launch/scout_mapping.launch">
    <arg name="map_name" value="$(arg map_name)" />
    <arg name="enable_online_terrain_diagnostics"
         value="$(arg enable_online_terrain_diagnostics)" />
  </include>
</launch>
