<launch>

  <arg name="node_name" default="wheeltec_cloud_adapter" />
  <arg name="input_topic" default="/cloud_registered_body" />
  <arg name="output_topic" default="/cloud_registered_base" />
  <arg name="target_frame" default="base_link" />

  <node
      pkg="wheeltec_cloud_adapter"
      type="cloud_frame_adapter_node"
      name="$(arg node_name)"
      output="screen">

    <param name="input_topic" value="$(arg input_topic)" />
    <param name="output_topic" value="$(arg output_topic)" />
    <param name="target_frame" value="$(arg target_frame)" />

  </node>

</launch>
